body {
    background: url("https://64.media.tumblr.com/bca576d1378e7dec93b38ad879c7edfd/tumblr_oiwytrO1RF1tf8vylo1_1280.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }